<style>
canvas{

  width:400px !important;
  height:400px !important;

}
</style>
<br>
<h1>Top 5 users who awarded most award:</h1>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Count</th>
	</thead>
	<tbody>
		{{#each Users}}
		<tr>
			<td>{{fname}}</td>
			<td>{{lname}}</td>
			<td>{{count}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

<canvas id="chart_2" width="40" height="40" onloadeddata="chart2()"></canvas>
<h1>Top 5 number of award given by year:</h1>
<table>
	<thead>
		<th>Count</th>
		<th>Year</th>
	</thead>
	<tbody>
		{{#each Awards}}
		<tr>
			<td>{{Count}}</td>
			<td>{{Year}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<canvas id="chart_1" width="40" height="40" onloadeddata="chart1()"></canvas>
{{!-- <canvas id="chart_1" width="400" height="400" onloadeddata="start()"></canvas> --}}
{{!-- <canvas id="chart_1" width="400" height="400"></canvas> --}}
<h1>user sorted by year:</h1>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Year</th>
	</thead>
	<tbody>
		{{#each Users_y}}
		<tr>
			<td>{{First_Name}}</td>
			<td>{{Last_Name}}</td>
			<td>{{Year}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"><{{!}}/script>
<script>
function chart1() {
	var labels = [];
	var data = [];
	{{#each Awards}}
		labels.push({{Year}});
		data.push({{Count}});
	{{/each}}

	var chart_1 = document.getElementById('chart_1');

	var chart1 = new Chart(chart_1, {
		type: 'bar',
		data: {
			labels: labels,
			datasets: [{
				data: data,
				backgroundColor: [
				    'rgba(255, 99, 132, 0.2)',
				    'rgba(54, 162, 235, 0.2)',
				    'rgba(255, 206, 86, 0.2)',
				    'rgba(75, 192, 192, 0.2)',
				    'rgba(153, 102, 255, 0.2)',
				    'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
				    'rgba(255,99,132,1)',
				    'rgba(54, 162, 235, 1)',
				    'rgba(255, 206, 86, 1)',
				    'rgba(75, 192, 192, 1)',
				    'rgba(153, 102, 255, 1)',
				    'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
			options: {
					scales: {
							yAxes: [{
									ticks: {
											beginAtZero: true,
											stepSize: 1,
											min: 0
									}
							}]
					}
			}
	});
}
window.onload = function() {
	chart1();
	chart2();
}
function chart2() {
	var chart_2 = document.getElementById('chart_2');
	var labels2 = [];
	var data2 = [];
	{{#each Users}}
		labels2.push('{{fname}}');
		data2.push({{count}});
	{{/each}}
	var chart2 = new Chart(chart_2, {
		type: 'pie',
		data: {
			labels: labels2,
			datasets: [{
				data: data2,
				backgroundColor: [
				    'rgba(255, 99, 132, 0.2)',
				    'rgba(54, 162, 235, 0.2)',
				    'rgba(255, 206, 86, 0.2)',
				    'rgba(75, 192, 192, 0.2)',
				    'rgba(153, 102, 255, 0.2)',
				    'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
				    'rgba(255,99,132,1)',
				    'rgba(54, 162, 235, 1)',
				    'rgba(255, 206, 86, 1)',
				    'rgba(75, 192, 192, 1)',
				    'rgba(153, 102, 255, 1)',
				    'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		}
	});
}

<{{!}}/script>
